
@font-face {
    font-family: 'Calibri Light';
    src: url('../fonts/calibri-light.eot');
    src: url('../fonts/calibri-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-light.woff') format('woff'),
         url('../fonts/calibri-light.ttf') format('truetype'),
         url('../fonts/calibri-light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri Italic';
    src: url('../fonts/calibri-italic.eot');
    src: url('../fonts/calibri-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-italic.woff') format('woff'),
         url('../fonts/calibri-italic.ttf') format('truetype'),
         url('../fonts/calibri-italic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri Regular';
    src: url('../fonts/calibri-regular.eot');
    src: url('../fonts/calibri-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-regular.woff') format('woff'),
         url('../fonts/calibri-regular.ttf') format('truetype'),
         url('../fonts/calibri-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri Bold';
    src: url('../fonts/calibri-bold.eot');
    src: url('../fonts/calibri-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-bold.woff') format('woff'),
         url('../fonts/calibri-bold.ttf') format('truetype'),
         url('../fonts/calibri-bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri Italic';
    src: url('../fonts/calibri-italic.eot');
    src: url('../fonts/calibri-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-italic.woff') format('woff'),
         url('../fonts/calibri-italic.ttf') format('truetype'),
         url('../fonts/calibri-italic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum Regular';
    src: url('../fonts/cuprum-regular.eot');
    src: url('../fonts/cuprum-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-regular.woff') format('woff'),
         url('../fonts/cuprum-regular.ttf') format('truetype'),
         url('../fonts/cuprum-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum Bold';
    src: url('../fonts/cuprum-bold.eot');
    src: url('../fonts/cuprum-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-bold.woff') format('woff'),
         url('../fonts/cuprum-bold.ttf') format('truetype'),
         url('../fonts/cuprum-bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arsenal Regular';
    src: url('../fonts/arsenal-regular.eot');
    src: url('../fonts/arsenal-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsenal-regular.woff') format('woff'),
         url('../fonts/arsenal-regular.ttf') format('truetype'),
         url('../fonts/arsenal-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arsenal Bold';
    src: url('../fonts/arsenal-bold.eot');
    src: url('../fonts/arsenal-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsenal-bold.woff') format('woff'),
         url('../fonts/arsenal-bold.ttf') format('truetype'),
         url('../fonts/arsenal-bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
