* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: auto;
    min-height: 100%;
}
body {
    font-family: 'Cuprum Regular';
    overflow-y: scroll;
    margin: 0;
    color: #4e9fd7;
    background: url(../img/bottom_bg.png) no-repeat bottom, url(../img/body_bg.png) no-repeat center top;
    background-size: cover;
}
input::-webkit-input-placeholder {
    color: #4e9fd7;
   }
input::-moz-placeholder{
    color: #4e9fd7;
}
input::-o-input-placeholder {
    color: #4e9fd7;
}
input::-ms-input-placeholder {
    color: #4e9fd7;
}
textarea::-webkit-input-placeholder {
    color: #b4d2e6;
   }
textarea::-moz-placeholder{
    color: #b4d2e6;
}
textarea::-o-input-placeholder {
    color: #b4d2e6;
}
textarea::-ms-textarea-placeholder {
    color: #b4d2e6;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
label {
    cursor: pointer;
}
.btn {
    outline: none;
    cursor: pointer;
    font-family: 'Cuprum Regular';
    padding: 5px 19px;
    border-radius: 15px;
    background: #609BD7;
    font-size: 17px;
    color: white;
    display: inline-block;
    text-decoration: none;
    border: none;
    text-shadow: 1px 1px #3567AC;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
input,
select,
textarea {
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    color: #4e9fd7;
    height: 19px;
    border-radius: 5px;
    border: 1px solid #A5D2E4;
    font-size: 15px;
}
a {
    font-family: 'Cuprum Regular';
}
h1 {
    color: #0a4e5f;
    font-size: 22px;
    font-family: 'Calibri Bold';

}
h2 {
    text-transform: uppercase;
    font-family: 'Calibri Bold';
    font-size: 14px;
    font-weight: normal;
    color: #0a4e5f;
}
p {
    margin-top: 20px;
    line-height: 17px;
    font-family: 'Calibri Regular';
    color: #4d747e;
    font-size: 14px;
}
ul.list {
    color: #0a4e5f;
}
span {
    font-family: 'Calibri Bold';
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    margin: auto;
    width: 895px;
}

/* Header
------------------------------------------------------------------------------------ */
.header {
    height: 186px;
}
.header .social_networks {
    float: left;
    width: 80px;
}
.header .social_networks p {
    color: #00668d;
    margin-top: 8px;
    font-size: 12px;
}
.header .social_networks img {
    margin-right: 1px;
}
.header .social_networks img:last-child {
    margin-right: 0;
}
.header .logo {
    margin-left: 200px;
    position: absolute;
    top: 3px;
    left: 50%;
    margin-left: -145px;
}
.header .right_info {
    text-align: right;
    float: right;
    margin-top: 5px;
}
.header .right_info a {
    font-family: 'Calibri Regular';
    position: relative;
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    color: #00668d;
    text-decoration: none;
    border-bottom: 1px dotted #2B628C;
}
.header .right_info a.btn {
    margin-top: 25px;
    font-family: 'Cuprum Regular';
    padding: 8px 19px 6px;
    border-radius: 15px;
    background: #609BD7;
    font-size: 17px;
    color: white;
    display: inline-block;
    text-decoration: none;
    border: none;
    text-shadow: 1px 1px #3567AC;
    letter-spacing: 1px;
}
.header .right_info .private_office {
    margin-right: 40px;
}
.header .right_info .log_out:before {
    content: url(../img/log_out.png);
    position: absolute;
    left: -16px;
}
.header .right_info .log_in {
    margin-bottom: 25px;
}
.header .right_info .log_in:before {
    content: url(../img/log_out_private.png);
    position: absolute;
    left: -16px;
}
.header .right_info .basket a {
    color: #bc1500;
    font-size: 16px;
    border: none;
    margin-top: 15px;
}
.header .right_info .basket a:before {
    content: url(../img/basket.png);
    float: left;
    margin-right: 9px;
    margin-top: -1px;
}
.header .right_info .basket p {
    margin-top: 0;
    font-size: 16px;
}
.header .right_info .phones {
    margin-top: 10px;
}
.header .right_info .phones span {
    font-size: 12px;
    font-family: 'Calibri Italic';
    color: #a01200;
}
.header .right_info .phones p {
    color: #bc1500;
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 23px;
    font-family: 'Calibri Bold';
}
.header .right_info .phones p:last-child {
    margin-bottom: 0;
}

/* Navigation
------------------------------------------------------------------------------------ */
.nav {
    border-top: 1px solid #C2E0F4;
    border-bottom: 1px solid #C2E0F4;
    background: rgba(255,255,255,.9);
}
.nav > ul {
    text-align: center;
}
.nav > ul > li {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -5px;
    position: relative;
    display: inline-block;
}
.nav > ul > li:before {
    content: url(../img/nav_border.png) no-repeat;
    position: absolute;
    left: 0;
    top: 10px;
}
.nav > ul > li:last-child:after {
    content: url(../img/nav_border.png) no-repeat;
    position: absolute;
    right: 0;
    top: 10px;
}
.nav > ul > li > a {
    height: 56px;
    display: block;
    padding: 17px 20px 15px 19px;
    color: #00668d;
    font-size: 18px;
    font-family: 'Cuprum Bold';
    text-transform: uppercase;
    text-decoration: none;
}
.nav > ul > li:hover .popup_nav {
    display: block;
}
.nav > ul > li > a:hover {
    border-bottom: 3px solid #3780B8;
    color: #bc1500;
}
.nav a.active {
    border-bottom: 3px solid #3780B8;
    color: #bc1500;
}
.nav .popup_nav {
    display: none;
    box-shadow: 0 -3px #3780B8;
    width: 100%;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    z-index: 50;
}
.nav .popup_nav ul {
    padding: 4px 0;
    background: #25519A;
    list-style: none;
}
/*.nav .popup_nav ul li {
    margin-top: 2px;
}
.nav .popup_nav ul li:first-child {
    margin-top: 0;
}*/
.nav .popup_nav ul a {
    font-family: 'Cuprum Regular';
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav .popup_nav ul a:hover,
.nav .popup_nav ul li.active a {
    background: #1A3761;
    text-shadow: 1px 1px #3567AC;
}

/* Slider
------------------------------------------------------------------------------------ */
.slider_container {
    height: 429px;
    background: url(../img/slider/slider_bg.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 4px solid white;
    position: relative;
}
.bottom_line {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    z-index: 100;
    opacity: .5;
}
#slider {
    border-left: 4px solid white;
    border-right: 4px solid white;
}
/* CONTAINER */
div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
}
div.orbit img {
    position: absolute;
    top: 0;
    left: 0;
    width: 886px;
    height: 425px;
}
div.orbit a img {
    border: none;
}
/* DIRECTIONAL NAV */
div.slider-nav {
    display: block;
}
div.slider-nav span {
    width: 20px;
    height: 55px;
    text-indent: -9999px;
    position: absolute;
    z-index: 20;
    top: 43%;
    cursor: pointer;
}
div.slider-nav span.right {
    background: url('../img/slider/right-arrow.png');
    right: -30px;
}
div.slider-nav span.left {
    background: url('../img/slider/left-arrow.png');
    left: -30px;
}
/* BULLET NAV */
.orbit-bullets {
    position: absolute;
    z-index: 200;
    list-style: none;
    bottom: 10px;
    left: 50%;
    margin: 0 0 0 -40px;
    padding: 0;
}
.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../img/slider/bullets.png) no-repeat;
    width: 11px;
    height: 11px;
    overflow: hidden;
}
.orbit-bullets li.active {
    color: #222;
    background-position: -12px 0;
}

/* Main page
------------------------------------------------------------------------------------ */
.main_news {
    background: rgba(255,255,255,.4);
    width: 229px;
    height: 259px;
    float: left;
}
.main_news h5 {
    padding: 5px 0;
    font-family: 'Arsenal Regular';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #5eaade;
    border-bottom: 1px solid #4799d4;
}
.main_news .news_block {
    height: 109px;
    padding: 7px 9px 0;
    position: relative;
}
.main_news .news_block a {
    font-size: 13px;
    text-transform: uppercase;
    color: #4e9fd7;
    text-decoration: none;
}
.main_news .news_block img {
    width: 211px;
    height: 82px;
    border: 1px solid #d2e8ef;
    box-shadow: 0 1px 0 #4799d4;
}
.main_news .news_block p.date {
    background: rgba(255,255,255,.7);
    position: absolute;
    bottom: 1px;
    right: 10px;
    margin: 0;
    padding: 0 3px;
    font-family: 'Arsenal Regular';
    font-size: 11px;
    color: #529ed5;
}

.main_player {
    background: rgba(255,255,255,.4);
    width: 664px;
    height: 259px;
    float: right;
    position: relative;
}
.main_player h5 {
    padding: 5px 0;
    font-family: 'Arsenal Regular';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #5eaade;
    border-bottom: 1px solid #4799d4;
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    height: 29px;
}
.main_player .box {
    display: none;
}
.main_player .box.visible {
    display: block;
}
.main_player .section.vertical {
    width: 100%;
}
.main_player .vertical .main_carousel_container button {
    position: absolute;
    right: 105px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.main_player .vertical .main_carousel_container button.prev {
    top: 28px;
}
.main_player .vertical .main_carousel_container button.next {
    bottom: 5px;
}
.main_player .vertical .main_carousel {
    float: right;
    margin-top: 50px;
}
.main_player .vertical .main_carousel .tabs {
    width: 230px;
    list-style: none;
}
.main_player .vertical .main_carousel .tabs li {
    cursor: pointer;
    height: 45px;
    background: #eaf7fc;
    box-shadow: inset 0 1px 0 white;
}
.main_player .vertical .main_carousel .tabs li:hover {
    opacity: .7;
}
.main_player .vertical .main_carousel .tabs li.current {
    color: red;
    background: url(../img/arrow_current.png) no-repeat left center, #eaf7fc;
}
.main_player .vertical .main_carousel .tabs li .image {
    float: left;
    margin-top: 3px;
    margin-left: 17px;
    margin-right: 3px;
    width: 70px;
    height: 40px;
    border: 1px solid white;
}
.main_player .vertical .main_carousel .tabs li .image img {
    width: 69px;
    height: 39px;
}
.main_player .vertical .main_carousel .tabs li .caption {
    margin-top: 5px;
    padding-left: 7px;
    float: left;
    border-left: 1px solid #a5cce5;
}
.main_player .vertical .main_carousel .tabs li .caption p {
    font-family: 'Arsenal Regular';
    font-size: 15px;
    margin: 0;
    color: #5eaade;
}
.main_player .vertical .main_carousel .tabs li .caption p span {
    font-size: 9px;
    font-weight: normal;
}
.main_page .main_content p {
    font-family: 'Calibri Light';
    font-size: 15px;
    color: #4d747e;
}
.main_promotions {
    margin-top: 30px;
}
.main_promotions img {
    margin-right: 8px;
    width: 290px;
    height: 115px;
    border: 3px solid white;
    border-radius: 20px;
}
.main_promotions img:last-child {
    margin-right: 0;
}

/* Text page
------------------------------------------------------------------------------------ */
.text_page h1 {
    font-family: 'Calibri Regular';
    font-weight: normal;
}
.text_page h2 {
    margin-top: 20px;
}
.diet_menu {
    margin-top: 20px;
}
.diet_menu li {
    list-style: none;
    line-height: 17px;
    font-family: 'Calibri Regular';
    color: #4d747e;
    font-size: 14px;
}
.right_name {
    margin-top: 20px;
    text-align: right;
}
.right_name p {
    margin-top: 0;
}
.banner {
    margin-top: 40px;
}

/* Promotions
------------------------------------------------------------------------------------ */
.promotions h1 {
    margin-top: 30px;
}
.promotions .carousel_container {
    margin-top: 25px;
    clear: both;
    height: 373px;
    position: relative;
}
.promotions .carousel_container .prev,
.promotions .carousel_container .next {
    background: none;
    width: 20px;
    height: 55px;
    border: none;
    outline: none;
    margin-top: -27px;
    position: absolute;
    top: 50%;
    z-index: 50;
    cursor: pointer;
}
.promotions .carousel_container .prev {
    left: -25px;
}
.promotions .carousel_container .next {
    right: -25px;
}
.promotions .promotions_carousel {
    margin: auto;
}
.promotions .promotions_carousel ul li {
    height: 373px;
    width: 445px;
    margin-right: 5px;
}
.promotions .promotions_carousel ul li a {
    display: block;
    width: 445px;
    height: 176px;
    border-radius: 20px;
}
.promotions .promotions_carousel ul li a:first-child {
    margin-bottom: 21px;
}
.promotions .promotions_carousel ul li a img {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    border: 3px solid white;
}

/* News
------------------------------------------------------------------------------------ */
.news h1 {
    margin-top: 30px;
}
.news .carousel_container {
    margin-top: 25px;
    clear: both;
    height: 530px;
    position: relative;
}
.news .carousel_container .prev,
.news .carousel_container .next {
    background: none;
    width: 20px;
    height: 55px;
    border: none;
    outline: none;
    margin-top: -27px;
    position: absolute;
    top: 50%;
    z-index: 50;
    cursor: pointer;
}
.news .carousel_container .prev {
    left: -25px;
}
.news .carousel_container .next {
    right: -25px;
}
.news .news_carousel {
    margin: auto;
}
.news .news_carousel ul li {
    height: 530px;
    width: 217px;
    margin-right: 8px;
}
.news .news_carousel ul li div {
    height: 255px;
    width: 217px;
    border: 3px solid white;
    border-radius: 20px;
    background: white;
}
.news .news_carousel ul li div:first-child {
    margin-bottom: 17px;
}
.news .news_carousel ul li div img {
    width: 211px;
    height: 146px;
    border-radius: 20px;
}
.news .news_carousel ul li div a {
    font-size: 13px;
    text-transform: uppercase;
    color: #4e9fd7;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 30px;
    padding: 3px 8px 0;
    margin-bottom: 5px;
}
.news .news_carousel ul li div p {
    margin: 0;
    padding: 0 8px;
    font-size: 11px;
    color: #838383;
    line-height: 11px;
}
.news .news_carousel ul li div p.date {
    color: #bababa;
    margin-top: 5px;
}

/* Production
------------------------------------------------------------------------------------ */
.our_production {
    padding-top: 30px;
}
.our_production h1 {
    font-family: 'Calibri Regular';
    font-weight: normal;
}
.our_production .types {
    list-style: none;
}
.our_production .types p {
    margin: 0;
}
.our_production .products {
    text-align: center;
    padding-left: 20px;
    margin-top: 50px;
}
.our_production .products li {
    position: relative;
    margin-bottom: 20px;
    float: left;
    margin-right: 90px;
    list-style: none;
    height: 440px;
    width: 228px;
}
.our_production .products li:nth-child(3n) {
    margin-right: 0;
}
.our_production .products li .text_info {
    position: absolute;
    bottom: 0;
}
.our_production .products li h3 {
    color: #00668d;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Cuprum Regular';
    font-weight: normal;
}
.our_production .products li hr {
    margin-bottom: 4px;
    border: none;
    border-bottom: 1px solid #CDDDE3;
    border-top: 1px solid rgba(150,150,150,.1)
}
.our_production .products li p {
    font-size: 12px;
    margin: 0;
    line-height: 14px;
    text-align: justify;
}
.our_production .products li .btn {
    margin-top: 12px;
}

/* About
------------------------------------------------------------------------------------ */
.certificates {
    margin-top: 50px;
}
.certificates ul {
    margin-top: 24px;
    margin-bottom: 55px;
    background: rgba(255,255,255,.7);
    padding: 13px;
    border-radius: 15px;
}
.certificates li {
    float: left;
    list-style: none;
    margin-right: 25px;
}
.certificates li:last-child {
    margin-right: 0;
}

.about_page,
.partners_page,
.text_page,
.cabinet_page {
    margin-top: 30px;
}

/* Parthners
------------------------------------------------------------------------------------ */
.partners_page .partners {
    margin-bottom: 35px;
    margin-top: 25px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    background: white;
}
.partners_page .info_partners {
    margin-bottom: 0;
}

/* Cabinet
------------------------------------------------------------------------------------ */
.private_cabinet {
    border-radius: 10px;
    margin-top: 15px;
    padding: 0 10px 25px;
    background: rgba(255,255,255,.7);
}
.private_cabinet ul.tabs {
    padding-right: 40px;
    padding-top: 10px;
    text-align: right;
    height: 37px;
    list-style: none;
    border-bottom: 1px solid #BCD6EF;
}
.private_cabinet .tabs li {
    margin-left: 12px;
    line-height: 14px;
    display: inline-block;
    color: #004b8e;
    font-size: 17px;
    font-family: 'Cuprum Regular';
    cursor: pointer;
}
.private_cabinet .tabs li.current {
    border-bottom: 1px solid #7A8EB5;
}
.private_cabinet .box {
    display: none;
}
.private_cabinet .box.visible {
    display: block;
}
.private_cabinet .profile  {
    margin-top: 40px;
}
.private_cabinet .profile .labels {
    margin-left: 25px;
    float: left;
}
.private_cabinet .profile .labels p {
    margin-top: 17px;
    height: 18px;
}
.private_cabinet .profile .inputs {
    float: left;
    margin-left: 40px;
}
.private_cabinet .profile .inputs input {
    display: block;
    outline: none;
    color: #4e9fd7;
    padding: 0 10px;
    margin-top: 9px;
    width: 350px;
    border-radius: 14px;
    height: 26px;
    background: none;
    border: none;
}
.private_cabinet .profile .inputs .active {
    border: 1px solid #609BD7;
    background: #E1F6FF;
}
.private_cabinet .profile_changes {
    border-bottom: 1px solid #BDD7EF;
    border-top: 1px solid #BDD7EF;
    background: rgba(189,215,239,.2);
    height: 46px;
    text-align: right;
    padding-top: 8px;
    margin-top: 65px;
}
.private_cabinet .profile_changes a {
    color: #4e9fd7;
    font-size: 17px;
    font-family: 'Cuprum Regular';
    text-decoration: none;
}
.private_cabinet .profile_changes .btn {
    margin-right: 40px;
    margin-left: 10px;
}
.private_cabinet .history table {
    border-bottom: 1px solid #BDD7EF;
    font-family: 'Cuprum Regular';
    width: 100%;
    margin-top: 40px;
    padding-bottom: 25px;
}
.private_cabinet .history td:first-child {
    padding-left: 35px;
    width: 180px;
}
.private_cabinet .history td:nth-child(2) {
    width: 190px;
}
.private_cabinet .history td:last-child {
    width: 170px;
}
.private_cabinet .history thead td {
    border-bottom: 1px solid #BDD7EF;
    border-top: 1px solid #BDD7EF;
    background: rgba(189,215,239,.2);
    color: #757575;
    height: 30px;
    font-size: 14px;
}
.private_cabinet .history table .btn {
    padding-top: 4px;
    font-size: 14px;
    height: 23px;
    width: 144px;
    text-align: center;
}
.private_cabinet .history table button.btn {
    background: #4B802A;
}
.private_cabinet .history .number,
.private_cabinet .history .date {
    color: #747474;
    font-size: 15px;
}
.private_cabinet .history .cost {
    color: #003b83;
    font-weight: bold;
}
.private_cabinet .history tbody td {
    padding-top: 8px;
}

.private_cabinet .history tbody tr:first-child td {
    padding-top: 20px;
}
.private_cabinet .history tbody td:last-child {
}
.private_cabinet .history tbody .btn_td {
    width: 160px;
    padding-left: 0;
}
.private_cabinet .history .profile_changes {
    margin-top: 20px;
}
.private_cabinet .history .show_all {
    display: block;
    margin: auto;
    margin-top: 8px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: url(../img/show_all.png);
    width: 39px;
    height: 39px;
    cursor: pointer;
}

/* Catalog
------------------------------------------------------------------------------------ */
.catalog_page {
    margin-top: 20px;
}
.catalog_page .filter {
    margin: auto;
    text-align: center;
    width: 614px;
    height: 29px;
    border-bottom: 1px solid #85B4E1;
    border-top: 1px solid #85B4E1;
    background: #609BD7;
    text-shadow: 1px 1px #3567AC;
    border-radius: 15px;
}
.catalog_page .filter li {
    position: relative;
    display: inline-block;
    line-height: 26px;
    margin-left: -4px;
    margin-right: 16px;
}
.catalog_page .filter li:last-child {
    margin-right: 0;
}
.catalog_page .filter li a {
    color: white;
    line-height: 12px;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
}
.catalog_page .filter li a.active,
.catalog_page .filter li a:hover {
    border-bottom: 1px solid rgba(255,255,255,.8);
    box-shadow: 0 1px 0 0 #3567AC;
}
.catalog_page .filter li:before {
    content: url(../img/point_filter.jpg);
    position: absolute;
    left: -10px;
    top: -2px;
}
.catalog_page .filter li:first-child:before {
    content: none;
}
.catalog_page .goods {
    margin-top: 20px;
}
.catalog_page .goods li {
    margin-bottom: 10px;
    margin-right: 5px;
    float: left;
    width: 295px;
    height: 300px;
    background: rgba(255,255,255,.95);
    border: 3px solid white;
    border-radius: 13px;
    list-style: none;
}
.catalog_page .goods li:nth-child(3n) {
    margin-right: 0;
}
.catalog_page .goods li .img_block {
    float: left;
    width: 130px;
    text-align: center;
}
.catalog_page .goods li .text_info {
    float: right;
    width: 150px;
    margin-right: 3px;
}
.catalog_page .goods li .text_info h4 {
    height: 32px;
    margin-bottom: 8px;
    margin-top: 14px;
}
.catalog_page .goods li .text_info h4 a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: inherit;
    text-decoration: none;
}
.catalog_page .goods li .text_info p {
    font-size: 11px;
    color: 838383;
    margin-top: 12px;
    line-height: 12px;
}
.catalog_page .goods li .text_info p.first {
    margin-top: 0;
}
.catalog_page .goods li .cost {
    margin-top: 30px;
    padding-left: 4px;
    padding-top: 2px;
    height: 53px;
    border-bottom: 1px solid #BDD7EF;
    border-top: 1px solid #BDD7EF;
    background: rgba(189,215,239,.2);
}
.catalog_page .goods li .cost p {
    font-size: 12px;
    margin-top: 6px;
}
.catalog_page .goods li .cost p span {
    font-size: 17px;
    font-weight: normal;
    color: #4e9fd7;
    margin-left: 5px;
    font-family: 'Cuprum Rgular';
}
.catalog_page .goods li .cost .quantity input,
.item_page .item .text_info .cost .quantity input,
.cart_wrap tbody .quantity {
    outline: none;
    text-align: center;
    width: 40px;
    height: 17px;
    margin-left: 5px;
    border: 1px solid #A5D2E4;
    border-radius: 4px;
    font-size: 13px;
    color: #4e9fd7;
}
.catalog_page .goods li input[type="submit"] {
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    padding-top: 0;
    padding-bottom: 3px;
    margin-top: 5px;
}
.catalog_page .banner {
    margin-top: 30px;
}

/* Item
------------------------------------------------------------------------------------ */
.item_page .item {
    margin-top: 20px;
    height: 475px;
    background: rgba(255,255,255,.95);
    border-radius: 13px;
    border: 3px solid white;
}
.item_page .item .back {
    height: 30px;
    border-bottom: 1px solid #C9DEF2;
    margin: 0 10px;
    padding-top: 3px;
}
.item_page .item .back a {
    color: #4e9fd7;
    font-family: 'Calibri Regular';
    text-decoration: none;
    font-size: 13px;
    margin-left: 15px;
    display: inline-block;
}
.item_page .item .img_block {
    float: left;
    width: 235px;
    text-align: center;
}
.item_page .item .text_info {
    float: left;
    width: 620px;
    margin-top: 30px;
}
.item_page .item .text_info h4 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}
.item_page .item .text_info p {
    margin-top: 15px;
    line-height: 16px;
}
.item_page .item .text_info .cost {
    margin-top: 30px;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 15px;
    padding-left: 15px;
    height: 45px;
    border-bottom: 1px solid #BDD7EF;
    border-top: 1px solid #BDD7EF;
    background: rgba(189,215,239,.2);
}
.item_page .item .text_info .cost p {
    color: #838383;
    margin-top: 12px;
}
.item_page .item .text_info .cost .quantity {
    float: left;
}
.item_page .item .text_info .cost .price {
    margin-left: 25px;
    float: left;
}
.item_page .item .text_info .cost .price span {
    font-size: 16px;
    color: #4e9fd7;
    font-family: 'Cuprum Regular';
}
.item_page .item .text_info .cost .in_stock {
    position: relative;
    float: left;
    padding-top: 12px;
    margin-left: 60px;
    font-size: 13px;
    color: #4e9fd7;
    font-family: 'Cuprum Regular';
}
.item_page .item .text_info .cost .in_stock:before {
    content: url(../img/in_stock_icon.png);
    position: absolute;
    left: -21px;
    top: 6px;
}
.item_page .item .text_info .cost .btn {
    margin-top: 5px;
    float: right;
    width: 195px;
    height: 30px;
    line-height: 30px;
    padding-top: 2px;
}
.item_page .action {
    margin-top: 20px;
}
.item_page .action img {
    margin-right: 8px;
    border: 3px solid white;
    border-radius: 10px;
    width: 290px;
}
.item_page .action img:nth-child(3n) {
    margin-right: 0;
}

/* Contacts
------------------------------------------------------------------------------------ */
.contacts {
    padding-top: 30px;
}
.contacts .left {
    display: inline-block;
    width: 402px;
}
.contacts .left h1 {
    margin-top: 20px;
}
.contacts .left  {
    margin-top: 15px;
}
.contacts .left form {
    margin-top: 15px;
    padding: 10px 0px 10px 20px;
    width: 100%;
    height: 188px;
    background: rgba(255,255,255,.7);
    border-radius: 20px;
}
.contacts .left form input,
.contacts .left form select,
.contacts .left form textarea {
    border: 1px solid #9dd4e5;
    border-radius: 5px;
    margin-bottom: 9px;
    color: #4e9fd7;
    padding: 0 3px;
    font-size: 12px;
}
.contacts .left form input,
.contacts .left form select {
    height: 18px;
}
.contacts .left form label {
    font-family: 'Calibri Light';
    font-size: 13px;
    color: #838383;
    margin-right: 5px;
}
.contacts .left form input#contact_name {
    width: 149px;
    margin-right: 27px;
}
.contacts .left form input#contact_email {
    width: 122px;
}
.contacts .left form input#contact_phone {
    width: 244px;
}
.contacts .left form label.contact_theme {
    float: left;
}
.contacts .left form .sod_select {
    float: right;
    width: 262px;
    margin-bottom: 9px;
    margin-right: 19px;
}
.contacts .left form .sod_select .sod_list {
    width: 262px;
}
.contacts .left form textarea {
    padding: 3px;
    margin-bottom: 4px;
    width: 363px;
    height: 50px;
    resize: none;
}
.contacts .left form button {
    float: right;
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 14px;
}
.contacts .right {
    float: right;
    width: 480px;
    margin-top: 40px;
}
.contacts .right .map {
    width: 481px;
    height: 276px;
    border: 3px solid white;
}

/* Dealers
------------------------------------------------------------------------------------ */
.dealers {
    padding-top: 30px;
}
.dealers select {
    width: 190px;
    height: 20px;
}
.dealers .sod_select {
    margin-top: 4px;
    width: 190px;
}
.dealers .sod_select .sod_list {
    width: 190px;
}
.dealers hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid black;
}
.dealers #deal_tabs .dealer {
    margin-top: 20px;
}
.dealers #deal_tabs .dealer p {
    margin: 0;
}
.dealers #deal_tabs .dealer a {
    color: #4d747e;
    font-family: 'Calibri Light';
    font-size: 14px;
}
.dealers #deal_tabs .map {
    margin-top: 35px;
    height: 261px;
    width: 100%;
    border: 3px solid white;
}

/* Cart
------------------------------------------------------------------------------------ */
.cart_page,
.delivery_page,
.paying_page {
    margin-top: 20px;
}
.cart_page h1,
.delivery_page h1,
.paying_page h1 {
    margin-top: 10px;
    display: inline-block;
}
.cart_page .scale,
.delivery_page .scale,
.paying_page .scale {
    width: 636px;
    float: right;
}
.cart_page .scale .active,
.delivery_page .scale .active,
.paying_page .scale .active {
    color: #004b8e;
}
.cart_page .scale p,
.delivery_page .scale p,
.paying_page .scale p {
    font-family: 'Cuprum Regular';
    font-size: 16px;
    color: #44a1c9;
    position: relative;
    top: 3px;
    margin-top: 0;
    width: 212px;
    text-align: center;
    float:left;
}
.cart_page .cart_wrap,
.delivery_page .delivery_wrap,
.paying_page .paying_wrap {
    padding: 25px 10px;
    margin-top: 15px;
    background: rgba(255,255,255,.95);
    border-radius: 13px;
    border: 2px solid white;
}
.cart_page .basket_wrap {
    float: right;
    height: 0;
    margin-right: -50px;
    margin-top: -13px;
}
.cart_wrap .basket {
    position: relative;
    z-index: 300;
    cursor: move;
    background: rgba(255,255,255,.9);
    padding: 5px 20px 5px;
    width: 182px;
    border-radius: 0 0 10px 10px;
    border: 2px solid #ABD6FF;
    text-align: right;
}
.cart_wrap .basket h4 {
    font-size: 17px;
    display: inline;
    position: relative;
    color: #bc1500;
    border: none;
    font-weight: normal;
    font-family: 'Calibri Regular';
}
.cart_wrap .basket h4:before {
    content: url(../img/basket.png);
    position: absolute;
    left: -27px;
    top: 3px;
}
.cart_wrap .basket p {
    margin-top: 0;
    font-size: 17px;
}
.cart_wrap table {
    width: 100%;
}
.cart_wrap table thead td {
    border-bottom: 1px solid #BDD7EF;
    border-top: 1px solid #BDD7EF;
    background: rgba(189,215,239,.2);
    height: 30px;
}
.cart_wrap table td {
    color: #757575;
    font-size: 14px;
}
.cart_wrap thead td:first-child {
    width: 95px;
    text-align: center;
}
.cart_wrap thead td:nth-child(2) {
    width: 370px;
}
.cart_wrap tbody td:nth-child(2) a {
    color: #4e9fd7;
    font-size: 12px;
    text-transform: uppercase;
}
.cart_wrap thead td:nth-child(3) {
    width: 125px;
}
.cart_wrap tbody td:first-child {
    vertical-align: center;
    text-align: center;
}
.cart_wrap tbody td .quantity {
    color: #838383;
    height: 19px;
}
.cart_wrap tbody td {
    height: 85px;
    border-bottom: 1px solid #BDD7EF;
}
.cart_wrap tbody td.sum {
    color: #4e9fd7;
}
.cart_wrap table td.delete {
    width: 40px;
}
.cart_wrap .total {
    float: right;
    margin-right: 110px;
}
.cart_wrap .total .total_sum {
    margin-bottom: 20px;
    color: #838383;
    font-size: 14px;
    font-family: 'Cuprum Regular'
}
.cart_wrap .total .total_sum span {
    margin-left: 8px;
    font-size: 17px;
    color: #4e9fd7;
    font-family: inherit;
}
.back_next {
    clear: both;
    border-bottom: 1px solid #BDD7EF;
    border-top: 1px solid #BDD7EF;
    background: rgba(189,215,239,.2);
    height: 46px;
    text-align: right;
    padding-top: 8px;
}
.back_next .btn {
    width: 160px;
    height: 29px;
    text-align: center;
    margin-right: 50px;
}
.back_next .back {
    margin-top: 8px;
    margin-left: 20px;
    float: left;
    text-decoration: none;
    line-height: 12px;
    font-size: 14px;
    border-bottom: 1px dotted #4e9fd7;
    color: #4e9fd7;
}
.cart_wrap .related_products  {
    margin-top: 30px;
}
.cart_wrap .related_products h3 {
    font-size: 18px;
    font-family: 'Calibri Bold';
    border-bottom: 1px solid #C8DDF2;
    padding-left: 25px;
    line-height: 32px;
}
.cart_wrap .related_products ul {
    text-align: center;
}
.cart_wrap .related_products li {
    display: inline-block;
    height: 175px;
    width: 160px;
    margin-top: 15px;
    margin-right: 8px;
}
.cart_wrap .related_products li:nth-child(5n) {
    margin-right: 0;
}
.cart_wrap .related_products li .img {
    height: 105px;
}
.cart_wrap .related_products li p {
    margin-top: 5px;
    font-family: 'Cuprum Regular';
    color: #838383;
}
.cart_wrap .related_products li .cost {
    margin-top: 3px;
    font-size: 16px;
    color: #4e9fd7;
}
.cart_wrap .related_products li .btn {
    margin-top: 6px;
    width: 85px;
    font-size: 14px;
    padding: 2px 0;
    text-align: center;
}

/* Delivery
------------------------------------------------------------------------------------ */
.h3 {
    font-size: 18px;
    font-family: 'Calibri Bold';
    border-bottom: 1px solid #BDD7EF;
    border-top: 1px solid #BDD7EF;
    background: rgba(189,215,239,.2);
    padding-left: 30px;
    line-height: 30px;
}
.h3 span {
    float: right;
    font-size: 13px;
    color: #b30000;
    font-family: 'Calibri Italic';
    font-weight: normal;
    margin-right: 25px;
}
.h3 span:before {
    content: "*";
    font-family: 'Cuprum Regular';
    font-size: 20px;
    float: left;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.delivery_wrap p {
    margin-top: 0;
    display: inline-block;
}
.delivery_wrap label,
.paying_wrap label {
    font-size: 13px;
    color: #838383;
    font-family: 'Calibri Regular';
}
.delivery_wrap p {
    position: relative;
}
.delivery_wrap .contact_info input {
    margin-left: 10px;
}
.delivery_wrap .necessary_fill:after {
    content: '*';
    font-family: 'Cuprum Regular';
    color: #b30000;
    font-size: 14px;
    position: absolute;
    right: -11px;
    top: 2px;
}
.delivery_wrap .dividing {
    padding-left: 25px;
    padding-right: 20px;
    min-height: 115px;
}
.delivery_wrap .dividing p {
    margin-right: 29px;
    margin-left: 5px;
}
span.comment {
    font-size: 12px;
    padding-top: 1px;
    line-height: 16px;
    color: #a4a4a4;
    font-family: 'Calibri Italic';
    display: block;
    border-top: 1px solid #D1D2D3;
    padding-left: 3px;
    padding-bottom: 15px;
}
.delivery_wrap .contact_info p,
.delivery_wrap .method_preparation p,
.delivery_wrap .payment_methods p {
    line-height: 72px;
}
.delivery_wrap .dividing #name {
    width: 212px;
}
.delivery_wrap .dividing #phone {
    width: 135px;
}
.delivery_wrap .dividing #email {
    width: 182px;
}
.delivery_wrap .dividing p.email,
.delivery_wrap .address p.home {
    margin-right: 0;
}
.delivery_wrap input[type="radio"] {
    visibility: hidden;
    margin-right: 7px;
}
.delivery_wrap .method_preparation p {
    margin-right: 75px;
}
.delivery_wrap .method_preparation .delivery3 {
    margin-right: 0;
}
.delivery_wrap .radio_label {
    position: relative;
    color: #787878;
    font-size: 14px;
}
.delivery_wrap .radio_label.active:before {
    background-position: 0 -15px;
}
.delivery_wrap .radio_label:before {
    position: absolute;
    left: -20px;
    top: 2px;
    content: '';
    width: 14px;
    height: 14px;
    overflow: hidden;
    background: url(../img/radio_icon.png);
}
.delivery_wrap .address {
    padding-top: 20px;
}
.delivery_wrap .address .sod_select {
    position: relative;
    top: 5px;
    font-size: 13px;
    line-height: 19px;
    margin-left: 10px;
    width: 182px;
}
.delivery_wrap .address .sod_select .sod_list {
    width: 182px;
}
.delivery_wrap .address p {
    margin-right: 25px;
    line-height: 34px;
}
.delivery_wrap .address #street {
    width: 345px;
}
.delivery_wrap .address #home,
.delivery_wrap .address #housing,
.delivery_wrap .address #apartment,
.delivery_wrap .address #structure {
    width: 85px;
}
.delivery_wrap .address input {
    margin-left: 8px;
}
.delivery_wrap .address textarea {
    width: 805px;
    resize:none;
    height: 45px;
    margin-bottom: 10px;
}
.delivery_wrap .payment_methods {
    position: relative;
}
.delivery_wrap .payment_methods .left {
    width: 550px;
    float: left;
}
.delivery_wrap .payment_methods .left .comment {
    font-size: 13px;
}
.delivery_wrap .total,
.paying_wrap .total {
    width: 180px;
    position: absolute;
    right: 30px;
    bottom: 15px;
}
.delivery_wrap .total p,
.paying_wrap .total p {
    margin-top: 0;
    font-family: 'Cuprum Regular';
    line-height: 16px;
    color: #9f9f9f;
    font-size: 13px;
}
.delivery_wrap .total .total_sum,
.paying_wrap .total .total_sum {
    color: #838383;
    font-size: 14px;
}
.delivery_wrap .total .total_sum span,
.paying_wrap .total .total_sum span {
    margin-left: 8px;
    font-size: 17px;
    color: #4e9fd7;
    font-family: inherit;
}

/* Paying
------------------------------------------------------------------------------------ */
.paying_wrap .paying_card {
    float: left;
    width: 430px;
}
.paying_wrap .paying_card .cards {
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.paying_wrap .paying_card .cards img {
    margin-right: 10px;
}
.paying_wrap .paying_card form {
    width: 330px;
    margin-left: 30px;
}
.paying_wrap .paying_card form p {
    position: relative;
}
.paying_wrap .paying_card form p label {
    font-size: 14px;
}
.paying_wrap .paying_card form p.first {
    margin-bottom: 40px;
}
.paying_wrap .paying_card form p.clearfix input {
    float: right;
    width: 212px;
    margin-right: 5px;
}
.paying_wrap .paying_card form p span {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 12px;
    color: #a4a4a4;
    font-family: 'Calibri Italic';
}
.paying_wrap .paying_card form .sod_select {
    position: relative;
    top: 5px;
}
.paying_wrap .paying_card form .sod_select .sod_list li {
    padding-right: 10px;
}
.paying_wrap .paying_card form #code {
    margin-left: 65px;
    width: 65px;
}
.paying_wrap .paying_card a {
    font-family: 'Calibri Italic';
    font-size: 12px;
    color: #4e9fd7;
}
.paying_wrap .paying_card .comment {
    font-size: 13px;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 20px;
}
.paying_wrap .paying_card form .code {
    margin-left: 42px;
    position: relative;
    bottom: 2px;
}
.paying_wrap .paying_card form .code:before {
    content: url(../img/code_icon.png);
    position: absolute;
    left: -35px;
    top: -2px;
}
.paying_wrap .other_payment {
    float: right;
    width: 430px;
    position: relative;
}
.paying_wrap .other_payment .total {
    right: 5px;
}
.paying_wrap .other_payment_img {
    padding-left: 30px;
    margin-top: 35px;
}
.paying_wrap .other_payment_img img {
    margin-right: 5px;
}

/* Popup
------------------------------------------------------------------------------------ */
.popup {
    display: none;
    background: url(../img/popup_bg.png) no-repeat;
    background-size: cover;
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 1500;
}
.popup .popup-content .close {
    position: absolute;
    top: -18px;
    right: -18px;
    border: none;
}
.popup .popup-content {
    top: 25%;
    color: #4e9fd7;
    font-family: 'Calibri Regular';
    padding: 10px 67px 22px;
    left: 50%;
    background: rgba(255,255,255,.9);
    border: 4px solid white;
    width: 437px;
    margin-left: -219px;
    position: absolute;
    border-radius: 12px;
}
.popup .popup-content form {
    margin-top: 32px;
}
.popup .popup-content input[type="text"] {
    margin-top: 9px;
    margin-bottom: 1px;
    outline: none;
    background: #E1F6FF;
    box-shadow: inset 0 1px 0 white;
    width: 100%;
    border: 1px solid #A5D2E4;
    border-radius: 15px;
    height: 29px;
    padding-left: 8px;
    padding-right: 8px;
    color: #4e9fd7;
    font-size: 15px;
}
.popup .popup-content h4 {
    text-align: center;
    font-size: 17px;
    font-family: 'Calibri Bold';
}
.popup .popup-content a {
    position: relative;
    display: inline-block;
    line-height: 12px;
    color: #4e9fd7;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dotted #2B628C;
}
.popup .popup-content .enter_your {
    margin: 0;
    color: #4e9fd7;
    line-height: 12px;
    font-size: 15px;
}
#enter .popup-content .remember_me {
    display: inline-block;
}
#enter .popup-content .remember_me input {
    display: inline;
    visibility: hidden;
    position: absolute;
    z-index: -5;
}
#enter .popup-content .remember_me label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    margin-left: 27px;

}
#enter .popup-content .remember_me label:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: 1px solid #A9D4E6;
    background: #E1F6FF;
}
#enter .popup-content .remember_me .active:before {
    background: url(../img/arrow_checkbox.png) no-repeat center, #E1F6FF;
}
#enter .popup-content .forgot_pass {
    display: inline-block;
    float: right;
}
#enter .popup-content .registration {
    margin-left: 7px;
    margin-top: 15px;
}
#enter .popup-content .registration a {
    font-size: 14px;
    position: relative;
    top: 2px;
}
#enter .popup-content .registration .btn,
#registration .popup-content .registration .btn {
    float: right;
}
#recovery .popup-content .btn,
#confirm_order .popup-content .btn {
    display: block;
    margin: auto;
    margin-top: 22px;
    height: 27px;
    line-height: 27px;
    padding-top: 1px;
}
#registration .popup-content form .enter_your {
    margin-bottom: 3px;
}
#registration .popup-content .confirm {
    margin-top: 7px;
    margin-bottom: 20px;
}
#registration .popup-content form input {
    margin-top: 6px;
}
#confirm_order .popup-content {
    padding-left: 20px;
    padding-right: 20px;
}
#confirm_order .popup-content p {
    font-size: 16px;
    color: #4e9fd7;
}
#confirm_order .popup-content .btn {
    width: 150px;
}

.popup .promotion_content {
    width: 740px;
    margin-left: -370px;
    padding: 0;
}
.popup .promotion_content img.banner {
    height: 211px;
    width: 100%;
    margin: 0 0 10px;
    border-radius: 10px 10px 0 0;
}
.popup .promotion_content p,
.popup .promotion_content ul {
    font-family: 'Arsenal Regular';
    font-size: 13px;
    padding: 0 10px;
    color: #0a4e5f;
}
.popup .promotion_content ul {
    margin-left: 15px;
    margin-bottom: 2px;
}
.popup .promotion_content p {
    margin: 0 0 2px;
}
.popup .promotion_content button {
    display: block;
    margin: 20px auto 10px;
}

/* Footer
------------------------------------------------------------------------------------ */
.footer_wrap {
    margin-top: 40px;
    height: 106px;
    background: rgba(160,203,240,.4);
}
.footer ul {
    padding-top: 8px;
}
.footer ul li {
    float: left;
    list-style: none;
    margin-right: 80px;
}
.footer ul li:last-child {
    margin-right: 0;
}
.footer ul li h4 {
    font-family: 'Arsenal Bold';
    font-size: 14px;
    color: #004e84;
}
.footer ul li h4 span {
    font-size: 13px;
    font-weight: normal;
    font-family: 'Arsenal Regular';
}
.footer ul li p {
    line-height: 15px;
    color: #004e84;
    font-size: 14px;
    font-family: 'Arsenal Regular';
    margin-top: 3px;
}
.footer ul li a {
    font-family: 'Arsenal Regular';
    color: #cd0101;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 2px solid rgba(205,1,1,.2);
    display:inline-block;
    line-height: 11px;
    margin-top: 8px;
}
.footer ul li:last-child {
    float: right;
}
